body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    align-content: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    text-align: center;
    margin: 10px 0;
}

h1 {
    text-align: center;
    color: limegreen;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}

h1:hover {
    color: #000; /* Change color on hover */
    transform: scale(1.5); /* Slightly enlarge the text on hover */
    text-shadow: 
        -2px -2px 0 limegreen,  
         2px -2px 0 limegreen,
        -2px  2px 0 limegreen,
         2px  2px 0 limegreen; /* Enhance the text shadow on hover */
}

h2 {
    text-align: center;
    color: #444;
}  

#hand-wave {
    margin: 20px auto;
    width: 100px;
    height: 100px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s;
    width: 70%;
    margin: 20px auto;
}

.card img {
    width: 20%;
    height: 20%;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-5px);
}

.card p {
    margin: 0;
    color: #333;
}

.card a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

a img {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    color: limegreen;
}

a:hover {
    text-decoration: underline;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the gap between images as needed */
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.image-container img {
    display: inline-block;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    width: 100%;
    bottom: 0;
}